body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 뷰포트를 넘어가는 부분을 숨김 */
}

.main-container {
    background-color: white;
    width: 1800px;
    height: 850px;
    display: flex;
    flex-direction: column; /* 내용 영역을 세로로 배치 */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* 뷰포트를 넘어가는 부분을 숨김 */
}

.header-container {
    display: flex;
    justify-content: space-between; /* 로고와 네비게이션 바를 양쪽 끝으로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 50px; /* 네비게이션 높이 설정 */
    margin-bottom: 50px; /* 헤더와 내용 사이의 간격 설정 */
}

.nav {
    display: flex;
    align-items: center;
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    margin-top: 30px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px; /* 링크 간의 간격 설정 */
    margin-right: 50px; /* 오른쪽 여백 */
    font-size: 16px;
    transition: font-size 0.3s ease; /* 글씨 크기가 부드럽게 변경되도록 설정 */
}

.nav a:hover {
    font-size: 18px; /* 호버될 때 글씨 크기를 살짝 키움 */
    color: rgb(239, 108, 51);
}

.logo {
    display: flex;
    margin-top: 30px;
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 50px; /* 왼쪽 여백 */
}

.logo img {
    width: 200px; /* 이미지의 너비 조정 */
    height: auto; /* 비율에 맞게 높이 자동 조정 */
    max-height: 80px; /* 최대 높이 설정 (네비게이션 바 높이에 맞춤) */
    object-fit: contain; /* 이미지 비율을 유지하면서 크기 조정 */
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 첫 번째 컬럼은 1fr, 두 번째 컬럼은 2fr 크기로 설정 */
    grid-template-rows: auto; /* 자동으로 로우 크기 조정 */
    gap: 40px;
    width: 1500px;
    height: 520px;
    margin: 0 auto; /* 중앙 정렬 */
}

/* 기본 스타일 */
.grid-item {
    background-color: rgb(240, 240, 240);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px; /* 아이템 1 내부 여백 */
}

/* 개별 아이템의 크기 및 스타일 조정 */
.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row; /* 묶음을 가로로 배치 */
    justify-content: space-around; /* 묶음 사이의 간격 조정 */
    align-items: center;
    height: 180px; /* 전체 높이 */
    width: 820px; /*넓이 고정*/
}

.favorite-section {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 양쪽 끝 정렬 */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.item1-wrapper {
    display: flex;
    flex-direction: column; /* 각 묶음 내에서 이미지와 텍스트를 수직으로 배치 */
    align-items: center;
    width: auto; /* 묶음의 너비를 내용에 맞게 조정 */
    margin-right: 10px; /* 묶음 사이의 간격 */
}


.item1-favorite-img {
    width: 150px; /* 이미지 너비 */
    height: 120px; /* 이미지 높이 */
    object-fit: cover; /* 이미지가 설정된 크기에 맞춰 적절하게 크기 조정 */
    border-radius: 5px; /* 모서리를 둥글게 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
    transition: all 0.3s ease; /* 모든 속성에 대해 부드럽게 변환 적용 */
}

.item1-favorite-img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 160px; /* 이미지 너비 */
    height: 130px; /* 이미지 높이 */
    cursor:pointer;
}
.item1-favorite-text {
    text-align: center;
    width: 150px; /* 이미지와 동일한 너비로 설정 */
    height: 30px; /* 텍스트 높이 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black; /* 텍스트 색상 명시 */
    font-size: 14px; /* 텍스트 크기 조정 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호(...)로 처리 */
}

.item2 {
    grid-column: 2 / 3; /* 두 번째 컬럼에 배치 */
    grid-row: 1 / 3;    /* 첫 번째와 두 번째 로우를 차지 */
    height: 220px; /* 원하는 높이로 지정 */
}

.item2-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 가로 전체를 사용 */
}

.item2-wrapper {
    width: 100%; /* 가로 전체를 사용 */
    display: flex; /* Flexbox를 사용하여 자식 요소들을 가로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */

}

.memberInfo-img {
    margin-left: 30px;
    width: 150px;
    height: 150px;
    display: flex; /* 이미지 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */


    object-fit: cover; /* 이미지가 설정된 크기에 맞춰 적절하게 크기 조정 */
    border-radius: 50%; /* 모서리를 둥글게 */
}


.memberInfo-text {
    margin-left: 50px;
    display: column;
    justify-content: center; /* 가로 중앙 정렬 */
    color: black; /* 텍스트 색상 */
    font-size: 20px; /* 텍스트 크기 */
}

.item3 {
    grid-column: 1 / 2; /* 첫 번째 컬럼에 배치 */
    grid-row: 2 / 3;    /* 두 번째 로우에 배치 */
    height: 440px; /* 원하는 높이로 지정 */
    gap: 50px;
}

.item3-calculator-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: White;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-controls {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.chart-controls button {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: rgb(239, 108, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chart-controls button:hover {
    background-color: #0c4a60;
}

.item3-calculator {
    width: 48%; /* 부모 요소의 전체 너비 사용 */
    height: 80%; /* 부모 요소의 60% 높이 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3-info {
    width: 38%; /* 부모 요소의 전체 너비 사용 */
    height: 80%; /* 부모 요소의 40% 높이 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wight;
}

.item3-info img {
    width: 362px; /* 부모 요소의 전체 너비 사용 */
    height: 352px; /* 부모 요소의 40% 높이 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wight;
    transition: all 0.3s ease; /* 모든 속성에 대해 부드럽게 변환 적용 */
}

.item3-info img:hover {
    width: 370px; /* 부모 요소의 전체 너비 사용 */
    height: 360px; /* 부모 요소의 40% 높이 사용 */
    cursor:pointer;
}

.item4 {
    grid-column: 2 / 3; /* 두 번째 컬럼에 배치 */
    grid-row: 2 / 3;    /* 두 번째 로우에 배치 */
    display: flex;
    flex-direction: column; /* Flexbox를 사용해 자식 요소를 수직으로 정렬 */
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative; /* 자식 요소의 절대 위치를 위한 상대 위치 설정 */
}

.item4-wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column; /* 각 묶음 내에서 이미지와 텍스트를 수직으로 배치 */
    align-items: center;
    margin-right: 10px; /* 묶음 사이의 간격 */

    transition: opacity 0.5s ease-in-out; /* 페이드 인/아웃 효과를 위한 트랜지션 */
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
}

.item4-wrapper.show {
    opacity: 1; /* show 클래스가 추가되면 보이도록 설정 */
}

.item4-img {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover; /* 이미지가 설정된 크기에 맞춰 적절하게 크기 조정 */
    border-radius: 5px; /* 모서리를 둥글게 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
}

.item4-text {
    width: 380px; /* 부모 요소의 전체 너비 사용 */
    height: 150px; /* 부모 요소의 40% 높이 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    color: black; /* 텍스트 색상 명시 */
    font-size: 20px; /* 텍스트 크기 조정 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호(...)로 처리 */
}

.item4-member {
    height: 100px; /* 부모 요소의 40% 높이 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    color: black; /* 텍스트 색상 명시 */
    font-size: 17px; /* 텍스트 크기 조정 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호(...)로 처리 */
}

.item4-date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; /* 텍스트 색상 명시 */
    font-size: 14px; /* 텍스트 크기 조정 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

.more {
    position: absolute; /* 부모 컨테이너에 대해 절대 위치 지정 */
    bottom: 10px; /* 아래에서 10px 위에 위치 */
    right: 10px; /* 오른쪽에서 10px 왼쪽에 위치 */
    text-decoration: none;
    color: black;
    font-size: 1.0rem;

    transition: font-size 0.3s ease; /* 글씨 크기가 부드럽게 변경되도록 설정 */
}
.more:hover {
    font-size:1.1rem;
    font-weight: bold;
}

.heart-style {
    font-size: 0.7rem; /* 원하는 크기로 조정 */
}



.favorite-list,
.like-list {
    display: flex;
    flex-wrap: wrap; /* 카드들이 가로로 배치되면서 넘치면 줄바꿈 */
    justify-content: center; /* 카드들 가운데 정렬 */
    flex-grow: 1; /* 남은 공간을 채우도록 설정 */
    margin: 0 20px; /* 양쪽 여백 */
    gap: 50px; /* 카드들 사이의 간격 (기본값은 20px에서 30px로 조정) */
}

.pagination-button {
    background-color: rgb(239, 108, 51); /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 패딩 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 16px; /* 글씨 크기 조정 */
}

.pagination-button:hover {
    background-color: #0c4a60;
}

#addFavoriteBtn {
    display: none; /* 초기 상태에서 숨겨져 있는 경우 */

    background-color: rgb(239, 108, 51); /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 패딩 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 16px; /* 글씨 크기 조정 */
}

#addFavoriteBtn:hover {
    background-color: #0c4a60;
}

.loginBtn {
    background-color: rgb(239, 108, 51); /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 패딩 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 16px; /* 글씨 크기 조정 */
    width: 180px;
}

.loginBtn:hover {
    background-color: #0c4a60;
}

/* 모달 창의 기본 스타일 */
.modal {
    display: none; /* 처음에는 보이지 않음 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능 */
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 처리 */
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 모달은 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면 가로 */
    height: 100%; /* 전체 화면 세로 */
    overflow: auto; /* 스크롤 가능 */
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: #f9f9f9; /* 부드러운 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    position: absolute; /* 위치를 절대값으로 설정 */
    left: 50%; /* 화면의 중앙에서 왼쪽으로 50% 이동 */
    top: 50%; /* 화면의 중앙에서 위쪽으로 50% 이동 */
    transform: translate(-50%, -50%); /* 요소를 이동하여 중앙 정렬 */
    max-width: 500px; /* 최대 너비 설정 (선택 사항) */
    width: 90%; /* 너비 설정 (선택 사항) */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.step {
    margin-bottom: 15px; /* 각 단계 사이 간격 추가 */
}

.step-number {
    font-weight: bold; /* 단계 번호 강조 */
    font-size: 1.2em; /* 글자 크기 조정 */
    color: #333; /* 어두운 색상 */
}

.note {
    color: #d9534f; /* 경고 색상 */
    font-style: italic; /* 이탤릭체로 강조 */
}
