<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>CCM</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<div class="main-container">
    <!-- 헤더와 네비게이션을 포함하는 컨테이너 -->
    <div class="header-container">
        <span class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="logo">
            </a>
        </span>
        <div class="nav">
            <a href="/product"><h4>product</h4></a>
            <a href="/custom"><h4>Custom</h4></a>
            <a href="/mypage"><h4>MyPage</h4></a>
            <a href="/member/login"><h4>Login</h4></a>
        </div>
    </div>
    <div class="body-container">
        <!-- 헤더 영역 (검색창 포함) -->
        <div class="header">
            <div class="title">
                <h1>Custom Coffees</h1>
                <input type="text" id="searchBar" placeholder="검색어를 입력하세요...">
                <button id="createCustomModal" class="createCustomModal">게시글등록</button>
                <!-- 게시글 등록 모달구조 -->
                <div id="customModal" class="customModal">
                    <div class="modal-content">
                        <span class="close">&times</span>
                        <h2>게시글 등록</h2>
                        <form id="customForm" enctype="multipart/form-data">

                            <div class="preview-container" id="previewContainer"></div>
                            <label for="customImages">이미지 업로드</label>
                            <input type="file" id="customImages" name="customImages" multiple accept="image/*">

                            <label for="customTitle">제목</label>
                            <input type="text" id="customTitle" name="customTitle" required>

                            <label for="customContent">내용</label>
                            <textarea id="customContent" name="customContent" rows="10" required></textarea>

                            <button type="submit">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 내용영역 (커피 리스트) -->
        <div class="content-container" id="customList">
            <!-- 이곳에 커피 제품 리스트 표시 -->
        </div>
        <!-- 게시물 디테일 모달 구조 -->
        <div id="detailModal" class="customModal">
            <div class="detailModal-content">
                <span class="close">&times;</span>
                <div id="detail-container" style="width: 400px;">
                    <h2 id="detailBrand">스타벅스</h2>
                    <img id="detailImage" src="" alt="상세 이미지" style="width: 300px; height: 300px; object-fit: contain; justify-content: center;" >
                    <p id="tagOption">추가된옵션내역</p>
                </div>
                <div id="detail-content" style="width: 500px;">
                    <h1 id="detailTitle" class="detailTitle">제목</h1>
                    <p id="detailContent" class="detailContent">내용</p>
                    <p id="memberId">작성자</p>
                    <p id="createdDate">작성일</p>
                </div>
                <div id="detail-comments" style="width: 420px;">
                    <h2 style="text-align: center;">Comment 📝</h2>
                    <div class="comments-list" id="commentsList">
                        <!--등록된 댓글 리스트 표시구역-->
                    </div>
                    <!-- 댓글 등록창 영역 -->
                    <div class="comment-form">
                        <textarea id="commentBox" rows="4" placeholder="댓글을 입력하세요..."></textarea>
                        <button type="button" id="submitComment">댓글 등록</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="test"> 페이지 처리</div>
    </div>
</div>
<script>
    const csrfHeader = /*[[${_csrf.parameterName}]]*/ 'X-CSRF-TOKEN'; // CSRF 파라미터 이름
    const csrfToken = /*[[${_csrf.token}]]*/ 'YOUR_CSRF_TOKEN'; // CSRF 토큰 값
</script>
<script src="/js/custom.js"></script>
</body>
</html>

