<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email 검증</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="/css/member/email.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="text-center mb-4">
        <img alt="Logo" class="img-fluid" src="/img/logo.png" style="width: 250px;">
        <h3 class="mt-3">이메일 인증을 진행해 주세요!</h3>
    </div>
    <form id="emailVerificationForm">
        <div class="form-group">
            <label for="email">이메일 주소</label>
            <input class="form-control" id="email" placeholder="이메일 주소 입력" type="email">
        </div>
        <button class="btn btn-outline-info btn-block mr-2" onclick="sendVerificationEmail()" type="button">인증 코드 발송
        </button>
        <small class="form-text text-muted mb-4">이메일 전송까지 약간의 시간이 걸릴 수 있으니 잠시만 기다려주세요.</small>
        <div class="form-group">
            <label for="verificationCode">인증 코드</label>
            <input class="form-control" id="verificationCode" placeholder="인증 코드 입력" type="text">
        </div>
        <button class="btn btn-outline-success btn-block" onclick="verifyEmailCode()" type="button">인증 코드 확인</button>
    </form>
    <small class="text-success" id="verificationResult" style="display:none;"></small>
</div>
<script src="/js/email.js"></script>
</body>
</html>