<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CCM</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>
<body>
<input type="hidden" id="loginMemberPK" th:value="${memberPK}">
<div class="main-container">
    <!-- 헤더와 네비게이션을 포함하는 컨테이너 -->
    <div class="header-container">
        <span class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="logo">
            </a>
        </span>
        <div class="nav">
            <a href="/product"><h4>product</h4></a>
            <a href="/custom"><h4>Custom</h4></a>
            <a href="/mypage"><h4>MyPage</h4></a>
            <a th:if="${memberId != null }" href="/logout"><h4>Logout</h4></a> <!-- 로그인 된 경우 -->
            <a th:if="${memberId == null}" href="/member/login"><h4>Login</h4></a> <!-- 로그인 안된 경우 -->
        </div>
    </div>

    <div class="body-container">
        <div class="info-section">
            <div class="memberCard" id="memberInfoList">
                <!-- 멤버정보 -->
            </div>
            <div class="caffeine-section">
                <div class="chart-box">
                    <!-- 카페인계산 차트 -->
                    <canvas id="caffeineChart" width="200" height="200"></canvas> <!-- 그래프를 표시할 캔버스 -->
                </div>
                <div id="caffeineinInfo" class="caffeineinInfo">
                    <!-- 섭취 카페인 /  당류 / 칼로리  정보 -->
                </div>
            </div>
        </div>

        <div class="calendar-section">
            <div class="calendar-box">
                <div id="fullCalendar">
                    <!-- 풀캘린더 삽입 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 즐겨찾기 리스트 -->
    <h2>즐겨찾기 목록 ⭐ &nbsp;&nbsp;<a class= "listA" href="/product">추가하러가기 ↷ </a></h2>
    <div class="favorite-section">
        <button id="favoritePrev" class="pagination-button"><i class="fas fa-chevron-left"></i></button>
        <div id="favoriteList" class="favorite-list">
            <!-- 즐겨찾기 목록 카드들 -->
        </div>
        <!-- 모달 요소 추가 -->
        <div id="coffeeModal" class="coffeeListModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="modalImage" src="" alt="coffee image" style="width: 100%; height: 300px; object-fit: cover;">
                <h2 id="modalCoffeeName"></h2><!-- 제품명 -->
                <p id="modalCoffeeBrand"></p><!-- 브랜드명 -->
                <p id="modlCoffeeType"></p><!-- 종류 -->
                <p id="modalCoffeeContent"></p><!-- 설명 -->
                <p id="modalCoffeeCalorie"></p><!-- 칼로리 량-->
                <p id="modalCoffeeCaffeine"></p><!-- 카페인 량 -->
                <p id="modalCoffeeSaccharide"></p><!-- 당분 량 -->
                <button id="favoriteBtn">즐겨찾기</button>
            </div>
        </div>
        <button id="favoriteNext" class="pagination-button"><i class="fas fa-chevron-right"></i></button>
    </div>
    </br>
    <!-- 좋아요 리스트 -->
    <h2>좋아요 목록 ❤️   &nbsp;&nbsp;<a class= "listA" href="/custom">추가하러가기 ↷ </a></h2>
    <div class="like-section">
        <button id="likePrev" class="pagination-button"><i class="fas fa-chevron-left"></i></button>
        <div id="likeList" class="like-list">
            <!-- 좋아요 목록 카드들 -->
        </div>
        <!-- 게시물 디테일 모달 구조 -->
        <div id="detailModal" class="customModal">
            <div class="detailModal-content">
                <span class="close">&times;</span>
                <div id="detail-container" style="width: 400px;">
                    <h2 id="detailBrand">스타벅스</h2>
                    <button id="like">좋아요</button>
                    <img id="detailImage" src="" alt="상세 이미지" style="width: 300px; height: 300px; object-fit: contain; justify-content: center;" >
                    <p id="tagOption">추가된옵션내역</p>
                </div>
                <div id="detail-content" style="width: 500px;">
                    <h1 id="detailTitle" class="detailTitle">제목</h1>
                    <p id="detailContent" class="detailContent">내용</p>
                    <p id="memberId">작성자</p>
                    <p id="createdDate">작성일</p>
                </div>
                <div id="detail-comments" style="width: 420px;">
                    <h2 style="text-align: center;">Comment 📝</h2>
                    <div class="comments-list" id="commentsList">
                        <!--등록된 댓글 리스트 표시구역-->
                    </div>
                    <!-- 댓글 등록창 영역 -->
                    <div class="comment-form">
                        <textarea id="commentBox" rows="4" placeholder="댓글을 입력하세요..."></textarea>
                        <button type="button" id="submitComment">댓글 등록</button>
                    </div>
                </div>
            </div>
        </div>
        <button id="likeNext" class="pagination-button"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>
<script src="/js/mypageCalendar.js"></script>
<script src="/js/mypage.js"></script>
</body>
</html>
