<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWay</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/update.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
<div class="container">
    <img alt="Logo" class="logo" onclick="window.location.href='/'" src="/img/logo.png"/>
    <form enctype="multipart/form-data" id="joinForm" method="post" onsubmit="return validateForm(event)"
          th:action="@{/member/update}"
          th:object="${memberUpdateDTO}">

        <input id="isUsernameChecked" type="hidden" value="false">

        <div class="form-group">
            <div class="preview-container" id="previewContainer">
                <div class="preview-card">
                    <img alt="기본 이미지" class="default-image" id="previewImg" th:src="${memberUpdateDTO.imgReal != null ? '/images/' + memberUpdateDTO.imgReal : '/img/default-image.png'}">
                </div>
            </div>
            <div style="text-align:center;">
                <!-- 실제 파일 입력 요소를 숨김 -->
                <input accept="image/*" class="form-control-file" id="imageUpload" name="newImgReal"
                       onchange="previewImage(this)"
                       style="display:none;" type="file">

                <!-- 커스텀 버튼 -->
                <label class="btn btn-image" for="imageUpload">이미지 선택</label>
            </div>
        </div>

        <div class="form-group row">
            <label for="memberId" class="col-sm-4 col-form-label">아이디 </label>
            <div class="col-sm-8">
                <input class="form-control" id="memberId" name="memberId" th:field="*{memberId}" type="text" readonly>
            </div>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">비밀번호</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="password" name="password" placeholder="영문,숫자,특수문자를 다 사용해 8자 이상 입력해 주세요." th:field="*{password}" type="password">
                </div>
                <small class="text-danger" th:if="${passwordError != null}" th:text="${passwordError}"></small>
            </div>
        </div>
        <!-- 비밀번호 확인 -->
        <div class="form-group row">
            <label for="confirmPassword" class="col-sm-4 col-form-label">비밀번호 확인</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="확인을 위해 비밀번호를 한번 더 입력해 주세요." type="password">
                </div>
                <small class="text-danger" id="passwordCheckResult"></small>
            </div>
        </div>

        <div class="form-group row">
            <label for="memberName" class="col-sm-4 col-form-label">이름 </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="memberName" name="memberName" th:field="*{memberName}"required type="text"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label required-label" for="email">이메일</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="email" name="email" readonly th:field="*{email}" type="text">
                    <input id="emailVerified" type="hidden" value="false"> <!-- 이메일 인증 여부 확인  -->
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" onclick="openEmailVerificationPopup()" type="button">메일 인증</button>
                    </div>
                </div>
                <small class="text-success" id="emailVerificationResult" style="display: none;">이메일 인증이 완료되었습니다.</small>
                <small class="text-danger" id="emailError" th:if="${emailError != null}" th:text="${emailError}"></small>
            </div>
        </div>

        <!-- 생년월일 입력 필드 -->
        <div class="form-group row">
            <label for="memberAge" class="col-sm-4 col-form-label">생년월일</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <input class="form-control" id="memberAge" name="memberAge" th:field="*{memberAge}"  type="text" readonly />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="memberWeight" class="col-sm-4 col-form-label">몸무게(kg) </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="memberWeight" name="memberWeight" th:field="*{memberWeight}" required step="0.1" type="number"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="memberPhone" class="col-sm-4 col-form-label">전화번호 </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" id="memberPhone" name="memberPhone" th:field="*{memberPhone}" oninput="formatPhoneNumber(this)"
                           placeholder="전화번호를 입력하세요."
                           required type="text"/>
                    <small th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}" class="text-danger"></small>
                </div>
            </div>
        </div>

        <!-- 주소 -->
        <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label">주소</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="주소 찾기를 클릭해 주소를 입력하세요." readonly th:field="*{address}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info" onclick="kakaoMap()">주소 찾기</button>
                    </div>
                </div>
                <small th:if="${addressError != null}" th:text="${addressError}" class="text-danger"></small>
            </div>
        </div>

        <!-- 상세 주소 -->
        <div class="form-group row">
            <label for="detailAddress" class="col-sm-4 col-form-label">상세 주소</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="나머지 자세한 주소를 입력하세요." th:field="*{detailAddress}">
            </div>
        </div>

        <div class="form-group row">
            <label for="memberGender" class="col-sm-4 col-form-label">성별 </label>
            <div class="col-sm-8">
                <select class="form-control" id="memberGender" name="memberGender" th:field="*{memberGender}" required>
                    <option value="">성별 선택</option>
                    <option value="Male">남성</option>
                    <option value="Female">여성</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="submit" class="col-sm-4 col-form-laber">입력을 마치셨다면?</label>
            <div class="col-sm-8">
                <button id="submit" class="btn btn-outline-success btn-block" type="submit">회원 정보 수정</button>
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap, 각종 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>